<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/optimized_lineups.css"/>
    <title>Document</title>
</head>
<header>
    <nav class="nav_bar">
        <div class="nav_logo">
            <img class="">Logo</img>
        </div>
        <div class="nav_header">
            <span>DFS Optimizer</span>
        </div>
        <div class="nav_options">
            <a>Home</a>
            <a>Lineups</a>
            <a>User</a>
            <a>Logout</a>
         </div>
        </nav>
</header>
<body>
    <div class="optimized_teams">
    {% for lineup in lineups %} 
    <table>
        <thead>
            <tr class="top_row">
                <caption class="projected_points"> Total Fantasy Points Projected:{{lineup.projpts}}</caption>
                <caption class="save_button"><button>Add To Saved Teams</button></caption>
            </tr>
                <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Team</th>
                <th>FPTS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="QB">QB</td>
                <td class="QB_name">{{lineup.QB.name}}</td>
                <td class="QB_team">{{lineup.QB.team}}</td>
                <td class="QB_fpts">{{lineup.QB.fpts}}</td>
            </tr>
            <tr>
                <td class="RB1">RB1</td>
                <td class="RB1_name">{{lineup.RBS[0].name}}</td>
                <td class="RB1_team">{{lineup.RBS[0].team}}</td>
                <td class="RB1_fpts">{{lineup.RBS[0].fpts}}</td>
            </tr>
            <tr>
                <td class="RB2">RB2</td>
                <td class="RB2_name">{{lineup.RBS[1].name}}</td>
                <td class="RB2_team">{{lineup.RBS[1].team}}</td>
                <td class="RB2_fpts">{{lineup.RBS[1].fpts}}</td>
            </tr>
            <tr>
                <td class="WR1">WR1</td>
                <td class="WR1_name">{{lineup.WRS[0].name}}</td>
                <td class="WR1_team">{{lineup.WRS[0].team}}</td>
                <td class="WR1_fpts">{{lineup.WRS[0].fpts}}</td>
            </tr>
            <tr>
                <td class="WR2">WR2</td>
                <td class="WR2_name">{{lineup.WRS[1].name}}</td>
                <td class="WR2_team">{{lineup.WRS[1].team}}</td>
                <td class="WR2_fpts">{{lineup.WRS[1].fpts}}</td>
            </tr>
            <tr>
                <td class="RB2">Flex</td>
                <td class="RB2_name">{{lineup.RBS[2].name}}</td>
                <td class="RB2_team">{{lineup.RBS[2].team}}</td>
                <td class="RB2_fpts">{{lineup.RBS[2].fpts}}</td>
            </tr>
            <tr>
                <td class="TE">TE</td>
                <td class="TE_name">{{lineup.TE.name}}</td>
                <td class="TE_team">{{lineup.TE.team}}</td>
                <td class="TE_fpts">{{lineup.TE.fpts}}</td>
            </tr>
            <tr>
                <td class="defense">Defense/ST</td>
                <td class="defense_name">{{lineup.DST.name}}</td>
                <td class="defense_team">{{lineup.DST.team}}</td>
                <td class="defense_fpts">{{lineup.DST.fpts}}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
</div>
</body>